* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background-color: #eeeeee;

  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #00adb5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#name {
  color: #eeeeee;
  padding: 10px;
}
.txt-color {
  color: #00adb5;
}
.navbar-list {
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
}
.navbar-item {
  color: black;
  font-size: large;
  padding: 20px;
}
.navbar-item:hover,
.navbar-item:focus {
  color: #eeeeee;
  text-decoration: underline;
}
.navbar-item.active {
  color: #eeeeee;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}
.contact-icon {
  cursor: default;
  height: 5vh;
}

footer {
  background-color: #222831;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
}
.footer-contact {
  color: black;
}
.footer-contact:hover {
  color: #eeeeee;
  text-decoration: underline;
}
footer p {
  text-align: center;
}
